#choiceLetterContainer {
    position: absolute;
    display: table-cell;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 40%;
}

[id^="c-letter-"], [class$="guessLetter"] {
    width: 8vh;
    height: 8vh;
}


#guessLetterContainer {
    position: absolute;
    display: table-cell;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 20%;
}

#score {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vh;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
#container {
    max-height: 100%;
    max-width: 100%;
}